/* .color1 {color: #1e2c06;}
.color2 {color: #0f6f01;}
.color3 {color: #ff9508;}
.color4 {color: #ffee61;}
.color5 {color: #fffbcd;} */

* body{
  width: auto;
  background-color: #dee9dad3;
  margin-right: 750px; 
  margin-left: 0px;
  padding-left: 0px;
  
}

nav {
  /*   position: absolute; */
  z-index: 10;
  left: 0px;
  right: 0px;
  top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 5%;
  height: 90px;
  background-color: #0f6f01;
 }

h1 {
  width: 100px; /* px, %, vh */
}

.imagen img {
  width: 200px;
  margin: 5px;
  padding: auto;
  position: relative;
  top: 12px;
  right: 80px;
}

.menu {
  position: relative;
  bottom: 105px;
  left: 750px;
}

.menu li {
  display: inline-block;
  margin: 0 0 0 15px;
  position: relative;
  right: 0px;
  
}

a {
  color: rgb(235, 235, 235);
  text-decoration: none;
}

.menu a:hover{
  color: rgb( 231,198,47);
}
/*     */
.pie-pagina{
  width: 100%;
  background-color: #0f6f01;
  position: absolute;  
  width: 100%;
  bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 800px;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  color: aliceblue;
  }


.cajauno {
  background: rgb(248, 0, 0);
}
/*    
h5{
  background: #e20e0e;
  width: 600px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 0%;
  margin-top: 700px;
  margin-bottom: 10px;
  margin-left: 550px;
  margin-right: 10px;
  
} */