/* .color1 {color: #1e2c06;}
.color2 {color: #0f6f01;}
.color3 {color: #ff9508;}
.color4 {color: #ffee61;}
.color5 {color: #fffbcd;} */

nav {
  /*   position: absolute; */
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 5%;
  height: 90px;
  background-color: #0f6f01;
}

h1 {
  width: 100px; /* px, %, vh */
}

.imagen img {
  width: 200px;
  margin: 5px;
  padding: auto;
  position: relative;
  top: 12px;
  right: 80px;
}

.menu {
  position: relative;
  bottom: 105px;
  left: 400px;
}

.menu li {
  display: inline-block;
  margin: 0 0 0 15px;
  position: relative;
  
}

a {
  color: white;
  text-decoration: none;
  }

.menu a:hover{
  color: rgb( 231,198,47);
}

.cajauno {
  background: red;
}
